* {
    font-family: sans-serif;
}

/* navbar */

.nav-item {
    margin-left: 5px;
}

/* konten */
.sidebar-title {
    margin-top: 18px;
    text-align: center;
}

.sidebar {
    margin-top: 30px;
}

.list-color a {
    color: blue;
}

.sosial a i {
    font-size: 30px;
    color: black;
}

.berita {
    background-color: #e1e1e1;
}

#img-post {
    float: left;
    width: 250px;
    margin-right: 15px;
}

/* form */

.form-container {
    padding: 30px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}

.form-container a {
    color: black;
}

/* box di tugas3.php */

.container-margin {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.box-container {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}

.height-container {
    height: 47vh;
}
